footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #112b3c;
    height: 5vh;
    width: 100vw;
    color: whitesmoke;
    margin-top: 1rem;

}


.footer-content > p > a {
    margin: 10px auto;
    font-size: 1.2rem;
    color: whitesmoke;
    transition: color .4s ease;
    text-decoration: none;
}


.footer-content > p:hover a {
    color: wheat;

}
