footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--NavBarColor);
    height: 5vh;
    width: 100vw;
    color: var(--FontColor);
    margin-top: 1rem;
}

.footer-content > p > a {
    margin: 10px auto;
    font-size: 1.2rem;
    color: var(--FontColor);
    transition: color .4s ease;
    text-decoration: none;
}

.footer-content > p:hover a {
    color: var(--FontColor);
}
