body {
    box-sizing: border-box;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    height: 100%;
    border-radius: 0 50px 50px 0;
    box-shadow: 1px 0 1px 1px rgba(0, 0, 0, 0.1);
    margin: 0.5rem 0.5rem 0 0.3rem;
    padding: 0.2rem;
    background-color: var(--CardBackgroundColor);
}

.card:hover {
    transform: translateX(2px);
}

.card-isIncome {
    border-left: 1rem solid var(--IncomeColor);
}

.card-expanse {
    border-left: 1rem solid var(--ExpanseColor);
}

.card-descriptionAmount {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-radius: 0 50px 50px 0;
}

.card-description {
    color: var(--FontColor);
    font-weight: bold;
    font-size: 1.3rem;
    text-align: left;
    width: 50%;
}

.card-dateCategoryIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    border-radius: 0 50px 50px 0;
}

.card-category > p {
    color: var(--FontColor);
    font-weight: bold;
    font-size: 1rem;
}

.card-date > p {
    color: var(--FontColor);
    font-weight: bold;
    font-size: 1rem;
}

.card-icon {
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 0 50px 50px 0;
}

.card-icon > span {
    color: var(--FontColor);
}

.card-amount {
    color: var(--FontColor);
    font-weight: bold;
    font-size: 1.3rem;
    text-align: right;
    margin-right: 1rem;
    border-radius: 0 0 50px 0;
    width: 25%;
}
