.signUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 500px;
}

.signUp-form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 1rem;
    min-height: 80%;
    min-width: 80%;
}

.signUp-form * {
    margin: 0.5rem;
}
