.statistic {
    display: flex;
    flex-direction: column;
    margin: 2.5rem 0 0.5rem 0;
    justify-content: center;
    align-items: center;
}

.statistic > header > h1 {
    margin: 0.5rem 0.5rem 0 0.5rem;
    font-size: 1.8rem;
    color: var(--NavBarColor);
}

.statistic-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.statistic-showIncome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 13em;
    max-height: 10rem;
    min-width: 12rem;
    min-height: 8rem;
    background-color: var(--IncomeColor);
    border-radius: 2rem;
}

.statistic-charts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 80vh;
}

.statistic-charts > div {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.statistic-charts > div p {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--NavBarColor);
}

.statistic-incomeExpanse {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 2rem 1rem 0 0.8rem;
    gap: 1rem;
}

.statistic-incomeExpanse > div p {
    font-weight: bold;
    color: var(--FontColor);
    font-size: 1.4rem;
}

.statistic-incomeExpanse > div p:nth-child(2) {
    font-size: 1.5rem;
}


.statistic-showExpanse {
    max-width: 13rem;
    max-height: 10rem;
    min-width: 12rem;
    min-height: 8rem;
    background-color: var(--ExpanseColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}
